html {
  width: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 1em auto;
}
@media only screen and (min-width: 540px) {
  .container {
    width: 67%;
  }
}
@media only screen and (min-width: 1100px) {
  .container {
    width: 50%;
  }
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.75em;
}

h4 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 1.2em;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.shevy {
  background-image: url(http://basehold.it/i/24/);
}
.shevy h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
.shevy h2 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 0.6em;
}
.shevy h3 {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.75em;
}
.shevy h4 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
.shevy h5 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 1.2em;
}
.shevy h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
.shevy p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.large {
  background-image: url(http://basehold.it/i/40/);
}
.large h1 {
  font-size: 120px;
  line-height: 120px;
  margin-bottom: 40px;
}
.large h2 {
  font-size: 100px;
  line-height: 120px;
  margin-bottom: 40px;
}
.large h3 {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 40px;
}
.large h4 {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 40px;
}
.large h5 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 40px;
}
.large h6 {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}
.large p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}

.responsive {
  background-image: url(http://basehold.it/i/24/);
}
.responsive h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
}
.responsive h2 {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 24px;
}
.responsive h3 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}
.responsive h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}
.responsive h5 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.responsive h6 {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 24px;
}
.responsive p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 540px) {
  .responsive {
    background-image: url(http://basehold.it/i/54/);
  }
  .responsive h1 {
    font-size: 4.5em;
    line-height: 1.5;
    margin-bottom: 0.75em;
  }
  .responsive h2 {
    font-size: 3.75em;
    line-height: 1.8;
    margin-bottom: 0.9em;
  }
  .responsive h3 {
    font-size: 3em;
    line-height: 1.125;
    margin-bottom: 1.125em;
  }
  .responsive h4 {
    font-size: 2.625em;
    line-height: 1.28571;
    margin-bottom: 1.28571em;
  }
  .responsive h5 {
    font-size: 1.875em;
    line-height: 1.8;
    margin-bottom: 1.8em;
  }
  .responsive h6 {
    font-size: 1.5em;
    line-height: 2.25;
    margin-bottom: 2.25em;
  }
  .responsive p {
    font-size: 1.5em;
    line-height: 2.25em;
    margin-bottom: 2.25em;
  }
}