<div class="hero js-hero">
  <div class="hero-background js-hero-background"></div>
  <div class="hero-content">
    <h1 class="hero-heading">Shevy</h1>
    <h3 class="hero-subheading">
      Perfect typography. Vertical rhythm made easy.
    </h3>

    <div class="hero-buttons">
      <div class="hero-buttons-item">
        <a class="github-button" href="https://github.com/kyleshevlin/shevy/fork" data-icon="octicon-repo-forked" aria-label="Fork kyleshevlin/shevy on GitHub">Fork</a>
      </div>
      <div class="hero-buttons-item">
        <a class="github-button" href="https://github.com/kyleshevlin/shevy" data-icon="octicon-star" data-count-href="/kyleshevlin/shevy/stargazers" data-count-api="/repos/kyleshevlin/shevy#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star kyleshevlin/shevy on GitHub">Star</a>
      </div>
    </div>
  </div>
</div>