//////////////////////////////
// Callout Example
//////////////////////////////

$callout-shevy: (
  base-font-size: 2em,
  base-line-height: 1.3
);

.callout-example {
  @include content($callout-shevy);
  @include baseline-grid(35.4);

  @include bp(alpha) {
    @include baseline-grid(41.6);
  }

  @include bp(delta) {
    @include baseline-grid(47.8);
  }
}