//////////////////////////////
// Header
//////////////////////////////

.header {
  width: 100%;
  height: $s-header-height;
  background: $c-white;
  padding: bs(.5) 0;
  border-bottom: 1px solid $c-light-gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: zi('header');

  &-heading {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
}
