<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/app.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Catamaran:100,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  {% include header.html %}

  {% if page.path == 'index.html' %}
    {% include hero.html %}
  {% endif %}

  <div class="main_content">
    <div class="container">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
