<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Catamaran:100,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/app.css">
</head>
<body class="app index">
  {% include header.html %}

  {% if page.path == 'index.html' %}
    {% include hero.html %}
  {% endif %}

  {{ content }}

  {% include footer.html %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
  <script src="{{ site.baseurl }}/dist/app.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
