@import '../../lib/shevy';

$breakpoints: (
  'alpha-prime': 478px,
  'alpha': 520px,
  'bravo': 769px,
  'charlie': 1025px,
  'delta': 1350px,
);

@mixin bp($bp, $min_max: 'min') {
  $value: map-get($breakpoints, $bp);

  @if $value != null {
    @media only screen and (#{$min_max}-width: $value) {
      @content;
    }
  } @else {
    @warn "Unfortunately, `#{bp}` wasn't found in $breakpoints.";
  }
}

//////////////////////////////
// Base
//////////////////////////////
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 1em auto;

  @include bp(alpha) {
    width: 67%;
  }

  @include bp(charlie) {
    width: 50%;
  }
}

.footer {
  margin-bottom: bs(2);
}

//////////////////////////////
// Typography
//////////////////////////////
@include headings;
@include paragraph;

//////////////////////////////
// Shevy Block
//////////////////////////////
.shevy {
  background-image: url(http://basehold.it/i/24/);
  @include headings;
  @include paragraph;
}

//////////////////////////////
// Large Block
//////////////////////////////
$large: (
  'base-font-size': 15px,
  'base-line-height': 2,
  'base-font-scale': (6, 5, 4, 3, 2, 1)
);

.large {
  background-image: url(http://basehold.it/i/30/);
  @include headings($large);
  @include paragraph($large);

  h6 {
    /* If you're clever and look at this and notice it's different,
    let me tell you why. Shevy supports a half base-space so that large headings
    don't have obnoxiously big margins. When you're using basehold.it,
    it's nice to bump up a margin manually to get the text below back on the baseline. Kudos for finding this */
    margin-bottom: bs(1.5, $large);

    @include bp(alpha-prime) {
      margin-bottom: bs(1, $large);
    }
  }
}

//////////////////////////////
// Responsive Block
//////////////////////////////
$responsive: (
  'base-font-size': 14px,
  'base-font-scale': (2, 1.75, 1.5, 1.25, 1, .75)
);

$responsive-alpha: (
  'base-font-size': 16px,
  'base-font-scale': (2, 1.75, 1.5, 1.25, 1, .75)
);

$responsive-bravo: (
  'base-font-size': 1.5em,
  'base-font-scale': (2.5, 2.2, 2, 1.75, 1.25, 1)
);

$responsive-charlie: (
  'base-font-size': 36px,
  'base-font-scale': (2.5, 2.2, 2, 1.75, 1.25, 1)
);

$responsive-delta: (
  'base-font-size': 48px,
  'base-font-scale': (3, 2.5, 2, 1.75, 1.25, 1)
);

.responsive {
  background-image: url(http://basehold.it/i/21/);
  @include headings($responsive);
  @include paragraph($responsive);

  @include bp(alpha) {
    background-image: url(http://basehold.it/i/24/);
    @include headings($responsive-alpha);
    @include paragraph($responsive-alpha);
  }

  @include bp(bravo) {
    background-image: url(http://basehold.it/i/54/);
    @include headings($responsive-bravo);
    @include paragraph($responsive-bravo);
  }

  @include bp(charlie) {
    background-image: url(http://basehold.it/i/54/);
    @include headings($responsive-charlie);
    @include paragraph($responsive-charlie);
  }

  @include bp(delta) {
    background-image: url(http://basehold.it/i/72/);
    @include headings($responsive-delta);
    @include paragraph($responsive-delta);
  }

  p:first-child {

    @include bp(bravo) {
      margin-bottom: bs(.5, $responsive-bravo);
    }

    @include bp(charlie) {
      margin-bottom: bs(.5, $responsive-charlie);
    }

    @include bp(delta) {
      margin-bottom: bs(.5, $responsive-delta);
    }
  }
}

.box {
  background: red;
  padding: bs(2);
  margin-bottom: bs();

  .responsive & {
    padding: bs(2, $responsive);

    @include bp(alpha) {
      padding: bs(2, $responsive-alpha);
    }

    @include bp(bravo) {
      padding: bs(2, $responsive-bravo);
    }

    @include bp(charlie) {
      padding: bs(2, $responsive-charlie);
    }

    @include bp(delta) {
      padding: bs(2, $responsive-delta);
    }
  }
}
